<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} <a href="https://oliviachang.me">Olivia Chang</a>. Images are not mine, of course!</span>
    </div>
</footer>