<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <h1 id="logo">{{meta.title}}</h1>
        </div>
        <div class="header__right">
            <p id="description">{{ meta.description }}</p>
        </div>
    </div>
</header>