// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import 'base/fonts';
@import 'base/normalize';
@import 'base/reboot';
@import 'base/layout';
@import 'base/typography';
@import 'base/focus';
@import 'base/utilities';
@import 'base/screenreader';
@import 'base/animation';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/icon';

html,
body {
    background-color: #f3e9de;
}

* {
    font-family: Calibre;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    margin-top: 70px;
}

.container {
    padding: 0 10%;
}

.site-container {
    margin-bottom: 40px;
}

.site-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.site-text {
    margin-top: 20px;
    font-size: 20px;
}

.section-sites {
    padding: 50px 0;
}
